<strong>Password Recovering</strong>

<p>A solicitation of password recovery ... ({{ email }}). If you did not required, please, update your password</p>

<p>TO continue with the password recovery, use the token {{ token }} or click in the link bellow</p>

<a href="{{ link }}">Create new password</a>